<h1><%= @user.username %>'s Profile</h1>
<h2>Threads created by <%= @user.username %></h2>
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <%= image_tag post.pic.url %>
      <h4><%= post.title%></h4>
    <% end %>

    <br>
  <% end %>
  
<br>
<h2>Comments created by <%= @user.username %></h2>
<% @comments.each do |comment| %>
  <h4><%= link_to comment.content, comment.post %></h4>
  <br>
<% end %>