<h1 class="n-thread">Create New Thread</h1>
<%= form_for @post_new, url: posts_path, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
    <%= f.file_field :pic, required: true %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>