<h1><%= @post.title %></h1>
<strong><%=link_to @post.user.username, user_path(@post.user.id)%></strong><br>
<%= image_tag @post.pic.url %>
<%if @post.user == current_user%>
  <%= link_to "delete post", post_path(@post), method: :delete %>
  <%= link_to "edit post", edit_post_path(@post) %>
<%end%>


<%= form_for [@post, @comment], html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.text_field :content %>
    <br>
    <%= f.file_field :pic %>
  </div>
  <%= f.submit "comment" %>
<% end %>


<ul>
<% @post.comments.each do |comment| %>
  <%@user = comment.user%>
  <li>
    <div class = "comment">
      <strong><%=link_to @user.username, user_path(@user.id)%></strong>: <br> &nbsp;&nbsp;
      <%= link_to post_comment_path(params[:post_id], comment) do %>
        <%= image_tag comment.pic.url %><br>
      <% end %>
      
      <%= comment.content %><br>
      <%if comment.user == current_user%>
        <%= link_to "delete comment", comment_path(comment), method: :delete %>
      <%end%>
    </div>
  </li>
<% end %>
</ul>